<html>

<body>
  Team Name: DTC-10
  Team Members:
  <ul>
    <li> Spring Cheng </li>
    <li> Nolan Wai </li>
    <li> Candice Wei </li>
    <li> Michael Lau </li>
    <li> Melissa Shao </li>
  </ul>
</body>

</html>