<%- include('templates/map_header') %>
<style>
  .height-3-5-screen {
    height: 60vh;
  }
</style>

<%- include('templates/map') %>

<div class="w-full border bg-cardBg rounded-t-xl shadow height-3-5-screen  fixed bottom-0 left-1/2 transform -translate-x-1/2">

  <div class="flex flex-col items-center mb-16" style="transform: translateY(-80px)">
    <img class="w-40 h-40 mb-3 rounded-full shadow-lg" src="profile.png" alt="Profile image" />
    <div class="flex items-center">
      <h5 class="m-4 text-xl font-medium text-gray-900 dark:text-white">Michael</h5>
    </div>

    <div class="flex flex-col items-center space-y-4 mt-10">
      <button onclick="window.location.href='/profile_edit'" class="w-full py-3 px-8 text-md font-medium text-center text-white bg-buttonBg rounded-xl hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Edit Profile</button>
      <button onclick="window.location.href='/payment_list'" class="w-full py-3 px-8 text-md font-medium text-center text-white bg-buttonBg rounded-xl hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">Manage
        Payment</button>
    </div>
    <div>
      <button onclick="window.location.href='/logout'" class="w-full py-3 px-8 mt-14 text-md font-medium text-center text-white bg-red-600 rounded-xl hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300">Sign
        Out</button>
    </div>
  </div>
</div>
<%- include('templates/map_footer') %>