<!-- drawer component -->
<div id="availableBatteriesCard" class="hidden">
  <p class="font-bold text-center py-2">Chosen battery Station's battery info</p>

  <div id="availableBatteryOptions" class="grid grid-cols-1 grid-rows-1 p-4">
    <button id="batteryOptionSelected" class="batteryOption flex container justify-between p-4 rounded-lg bg-buttonBg focus:ring-2 ring-white" onclick="batteryOptionSelect(event)">
      <div class="flex items-center p-2 mx-auto mb-2 rounded-full w-[48px] h-[48px] max-w-[48px] max-h-[48px]">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-drone" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10h4v4h-4z" />
          <path d="M10 10l-3.5 -3.5" />
          <path d="M9.96 6a3.5 3.5 0 1 0 -3.96 3.96" />
          <path d="M14 10l3.5 -3.5" />
          <path d="M18 9.96a3.5 3.5 0 1 0 -3.96 -3.96" />
          <path d="M14 14l3.5 3.5" />
          <path d="M14.04 18a3.5 3.5 0 1 0 3.96 -3.96" />
          <path d="M10 14l-3.5 3.5" />
          <path d="M6 14.04a3.5 3.5 0 1 0 3.96 3.96" />
        </svg>
      </div>
      <div class="flex flex-col ">
        <p class="text-center text-xl text-white">Duration: <span id="estimatedDurationBattery" class="text-lg font-bold">0</span></p>
        <p class="text-center text-xl text-white">Price: <span class="text-lg font-bold">$ </span><span id="priceBattery" class="text-lg font-bold">0</span></p>
      </div>
    </button>
  </div>
  <div class="flex justify-center">
    <div class="flex space-x-2 w-64 py-3">
      <button class="bg-white text-black py-2 px-4 rounded-lg text-lg flex-1" onclick="availableBatteryCancel()">Cancel</button>
      <button class="bg-black text-white py-2 px-4 rounded-lg text-lg flex-1" onclick="availableBatteryNext()">Next</button>
    </div>
  </div>