

<!-- drawer component -->
<div id="available-battery-drawer">
  <p class="font-bold text-center py-2">Available Batteries</p>

  <div class="grid grid-cols-1 grid-rows-3 gap-4 p-4">
    <div class="p-4 rounded-lg cursor-pointer bg-buttonBg">
      <div class="flex justify-center items-center p-2 mx-auto mb-2 rounded-full w-[48px] h-[48px] max-w-[48px] max-h-[48px]">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-drone" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10h4v4h-4z" />
          <path d="M10 10l-3.5 -3.5" />
          <path d="M9.96 6a3.5 3.5 0 1 0 -3.96 3.96" />
          <path d="M14 10l3.5 -3.5" />
          <path d="M18 9.96a3.5 3.5 0 1 0 -3.96 -3.96" />
          <path d="M14 14l3.5 3.5" />
          <path d="M14.04 18a3.5 3.5 0 1 0 3.96 -3.96" />
          <path d="M10 14l-3.5 3.5" />
          <path d="M6 14.04a3.5 3.5 0 1 0 3.96 3.96" />
        </svg>
      </div>
      <p class="font-bold text-center py-2">Available Battery</p>

      <div class="grid grid-cols-1 grid gap-4 p-4">
        <div class="p-4 rounded-lg cursor-pointer bg-buttonBg">
          <div class="flex justify-center items-center p-2 mx-auto mb-2  w-[48px] h-[48px] max-w-[48px] max-h-[48px]">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-drone" width="36" height="36"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 10h4v4h-4z" />
              <path d="M10 10l-3.5 -3.5" />
              <path d="M9.96 6a3.5 3.5 0 1 0 -3.96 3.96" />
              <path d="M14 10l3.5 -3.5" />
              <path d="M18 9.96a3.5 3.5 0 1 0 -3.96 -3.96" />
              <path d="M14 14l3.5 3.5" />
              <path d="M14.04 18a3.5 3.5 0 1 0 3.96 -3.96" />
              <path d="M10 14l-3.5 3.5" />
              <path d="M6 14.04a3.5 3.5 0 1 0 3.96 3.96" />
            </svg>
          </div>
          <div class="font-medium text-center text-gray-200">
            <p>EWT: 10 mins</p>
            <p>Price: $10</p>
          </div>
        </div>

      </div>
      <div class="flex justify-center">
        <div class="flex space-x-2 w-64 py-3">
          <button class="bg-white text-black py-2 px-4 rounded-lg text-lg flex-1">Cancel</button>
          <button class="bg-black text-white py-2 px-4 rounded-lg text-lg flex-1">Next</button>
        </div>
      </div>
    </div>
