<!-- drawer component -->
<div id="availableRoutes" class="hidden font-Nunito">
  <p class="font-bold text-center py-2">This is the best suited shared route for you</p>

  <div id="availableRoutesContainer" class="grid grid-cols-1 grid-rows-1 gap-4 p-4">
  </div>
  <div class="flex justify-center">
    <div class="flex space-x-2 w-64">
      <button id="availableRoutesCancel" class="bg-white text-black mb-4 py-1 px-4 rounded-lg text-lg flex-1"
        onclick="availableSharedRoutesCancel()">Cancel</button>
      <button id="availableRoutesNext" class="bg-black text-white mb-4 py-1 px-4 rounded-lg text-lg flex-1"
        onclick="availableSharedRoutesNext()">Next</button>
    </div>
  </div>
</div>