<%- include('templates/map_header') %>
  <%- include('templates/map') %>

    <!-- drawer component -->
    <div id="available-route-drawer"
      class="fixed z-40 w-full overflow-y-auto bg-cardBg border-t border-gray-200 rounded-t-lg transition-transform bottom-0 left-0 right-0 translate-y-full bottom-[60px]"
      tabindex="-1" aria-labelledby="available-route-drawer-label">
      <div class="p-7 hover:bg-cardBgHover" data-drawer-toggle="available-route-drawer"
        data-drawer-target="available-route-drawer" data-drawer-placement="bottom" data-drawer-edge="true"
        data-drawer-edge-offset="bottom-[60px]" aria-controls="available-route-drawer" data-drawer-backdrop="false">
        <span class="absolute w-36 h-1 -translate-x-1/2 bg-white rounded-lg top-2 left-1/2"></span>
      </div>

      <p class="font-bold text-center py-2">Available Routes</p>

      <div class="grid grid-cols-1 grid-rows-3 gap-4 p-4">
        <div class="p-4 rounded-lg cursor-pointer bg-buttonBg">
          <div
            class="flex justify-center items-center p-2 mx-auto mb-2  dark:bg-gray-600 rounded-full w-[48px] h-[48px] max-w-[48px] max-h-[48px]">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="36" height="36"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
              <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              <path d="M16 3.13a4 4 0 0 1 0 7.75" />
              <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
            </svg>
          </div>
          <div class="font-medium text-center text-gray-200 dark:text-gray-200">ETA: 1hr and 20mins</div>
        </div>
        <div class="p-4 rounded-lg cursor-pointer bg-buttonBg">
          <div
            class="flex justify-center items-center p-2 mx-auto mb-2  dark:bg-gray-600 rounded-full w-[48px] h-[48px] max-w-[48px] max-h-[48px]">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="36" height="36"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
              <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              <path d="M16 3.13a4 4 0 0 1 0 7.75" />
              <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
            </svg>
          </div>
          <div class="font-medium text-center text-gray-200 dark:text-gray-200">ETA: 1hr</div>
        </div>
        <div class="p-4 rounded-lg cursor-pointer bg-buttonBg">
          <div
            class="flex justify-center items-center p-2 mx-auto mb-2  dark:bg-gray-600 rounded-full w-[48px] h-[48px] max-w-[48px] max-h-[48px]">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="36" height="36"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
              <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
              <path d="M16 3.13a4 4 0 0 1 0 7.75" />
              <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
            </svg>
          </div>
          <div class="font-medium text-center text-gray-200 dark:text-gray-200">ETA: 45mins</div>
        </div>
        <div class="flex justify-center">
          <div class="flex space-x-2 w-64">
            <button class="bg-white text-black py-2 px-4 rounded-lg text-lg flex-1"><a
                onClick="history.go(-1)">Cancel</a></button>
            <button class="bg-black text-white py-2 px-4 rounded-lg text-lg flex-1"><a
                href="/selectpayment">Next</a></button>
          </div>
        </div>
      </div>
    </div>

    <%- include('templates/map_footer') %>