<%- include('templates/map_header') %>

  <div id="map-container">
    <%- include('map') %>
  </div>

  <!-- drawer init and toggle -->
  <div class="text-center">
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      type="button" data-drawer-target="drawer-swipe" data-drawer-show="drawer-swipe" data-drawer-placement="bottom"
      data-drawer-edge="true" data-drawer-edge-offset="bottom-[60px]" aria-controls="drawer-swipe">
      Show swipeable drawer
    </button>
  </div>

  <!-- drawer component -->
  <div id="drawer-swipe"
    class="fixed z-50 w-full overflow-y-auto bg-cardBg border-t border-gray-200 rounded-t-xl shadow-xl transition-transform bottom-0 left-0 right-0 translate-y-full bottom-[60px]"
    tabindex="-1" aria-labelledby="drawer-swipe-label">
    <div class="p-4 cursor-pointer flex flex-col items-center" data-drawer-toggle="drawer-swipe">
      <span class="absolute w-8 h-1 -translate-x-1/2 bg-gray-300 rounded-lg top-3 left-1/2 dark:bg-gray-600">
      </span>
      <p class="font-bold py-2">Confirmation</p>
    </div>

    <div class="container mx-auto p-3">
      <ol class="flex items-center w-full max-w-4xl mx-auto mb-4">
        <li
          class="flex w-full items-center text-blue-600 dark:text-blue-500 after:content-[''] after:flex-1 after:h-1 after:border-b after:border-blue-100 after:border-4 after:inline-block dark:after:border-blue-800">
          <span
            class="flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full lg:h-12 lg:w-12 dark:bg-blue-800 shrink-0">
            <svg class="w-3.5 h-3.5 text-blue-600 lg:w-4 lg:h-4 dark:text-blue-300" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>
          </span>
        </li>
        <li
          class="flex w-full items-center after:content-[''] after:flex-1 after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700">
          <span
            class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0">
            <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
              <path
                d="M18 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM6.5 3a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5ZM3.014 13.021l.157-.625A3.427 3.427 0 0 1 6.5 9.571a3.426 3.426 0 0 1 3.322 2.805l.159.622-6.967.023ZM16 12h-3a1 1 0 0 1 0-2h3a1 1 0 0 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Zm0-3h-3a1 1 0 1 1 0-2h3a1 1 0 1 1 0 2Z" />
            </svg>
          </span>
        </li>
        <li
          class="flex w-full items-center after:content-[''] after:flex-1 after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700">
          <span
            class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0">
            <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
              <path
                d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2ZM7 2h4v3H7V2Zm5.7 8.289-3.975 3.857a1 1 0 0 1-1.393 0L5.3 12.182a1.002 1.002 0 1 1 1.4-1.436l1.328 1.289 3.28-3.181a1 1 0 1 1 1.392 1.435Z" />
            </svg>
          </span>
        </li>
        <li class="flex items-center w-full">
          <span
            class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-700 shrink-0">
            <svg class="w-4 h-4 text-gray-500 lg:w-5 lg:h-5 dark:text-gray-100" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 1.5c4.694 0 8.5 3.806 8.5 8.5s-3.806 8.5-8.5 8.5S1.5 14.694 1.5 10 5.306 1.5 10 1.5zm0 2c-3.587 0-6.5 2.913-6.5 6.5S6.413 16.5 10 16.5s6.5-2.913 6.5-6.5-2.913-6.5-6.5-6.5zM9 6h2v6H9V6zm0 8h2v2H9v-2z" />
            </svg>
          </span>
        </li>
      </ol>
    </div>

    <div>
      <p class="p-4 py-2">Your delivery is arriving in</p>
    </div>

    <div class="grid grid-cols-2 gap-1 p-2">
      <div class="p-2">
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
      </div>
      <div class="p-2">
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('templates/footer') %>