<%- include('templates/map_header') %>
<%- include('templates/map') %>



<!-- drawer component -->
<div id="confirmation-drawer" class="fixed z-40 w-full overflow-y-auto bg-cardBg border-t border-gray-200 rounded-t-lg dark:border-gray-700 dark:bg-gray-800 transition-transform bottom-0 left-0 right-0 translate-y-full bottom-[60px]" tabindex="-1" aria-labelledby="confirmation-drawer-label">
  <div class="p-7 hover:bg-cardBgHover" data-drawer-toggle="confirmation-drawer" data-drawer-target="confirmation-drawer" data-drawer-placement="bottom" data-drawer-edge="true" data-drawer-edge-offset="bottom-[60px]" aria-controls="confirmation-drawer" data-drawer-backdrop="false">
    <span class="absolute w-36 h-1 -translate-x-1/2 bg-white rounded-lg top-2 left-1/2"></span>
  </div>
  <p class="font-bold text-center py-2">Confirmation</p>
  <div class="grid grid-cols-4 gap-2 p-3">
    <!-- Step 1 -->
    <div class="p-1">
      <img src="confirmation_1.png" class="p-2 rounded-full w-[50px] mx-auto border-2 border-[#010204] bg-white" alt="request received" tabindex="0">
      <div class="mt-2 font-medium text-center text-[#010204] leading-tight">Request Received</div>
    </div>
    <!-- Step 2 -->
    <div class="p-1">
      <img src="confirmation_2.png" class="p-2 rounded-full w-[50px] mx-auto border-2 border-[#074464] bg-[#CBCBCB]" alt="drone deployed" tabindex="0">
      <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Deployed</div>
    </div>
    <!-- Step 3 -->
    <div class="p-1">
      <img src="confirmation_3.png" class="p-2 rounded-full w-[50px] mx-auto border-2 border-[#074464] bg-[#CBCBCB]" alt="drone arriving" tabindex="0">
      <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Arriving</div>
    </div>
    <!-- Step 4 -->
    <div class="p-1">
      <img src="confirmation_4.png" class="p-2 rounded-full w-[50px] mx-auto border-2 border-[#074464] bg-[#CBCBCB]" alt="drone landed" tabindex="0">
      <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Landed</div>
    </div>
  </div>

  <div>
    <p class="font-medium p-4 py-2 text-[#010204] text-xl">Your delivery is arriving in:</p>
  </div>

  <div class="grid grid-cols-2 gap-1">
    <div class="p-1">
      <div>
        <div class="flex items-center m-2 mt-2 mb-4">
          <p class="w-full py-2 px-2 text-sm font-medium text-center text-white bg-[#010204] rounded-2xl">
            10 minutes
          </p>
        </div>
      </div>
      <div>
        <div class="flex items-center m-2">
          <div class="w-full py-2 px-2">
            <div id="mini_map"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-1">
      <div>
        <div class="flex items-center m-2">
          <p class="w-full py-2 px-2 text-sm text-center text-white bg-[#074464] border-[#074464] rounded-2xl">
            Tracking: #583027015
          </p>
        </div>
      </div>
      <div>
        <div class="flex items-center m-2">
          <p class="w-full py-2 px-2 text-sm text-center text-white bg-[#074464] border-[#074464] rounded-2xl">
            From: 123 Road
          </p>
        </div>
      </div>
      <div>
        <div class="flex items-center m-2">
          <p class="w-full py-2 px-2 text-sm text-center text-white bg-[#074464] border-[#074464] rounded-2xl">
            To: 345 Road
          </p>
        </div>
      </div>
      <div>
        <div class="flex items-center m-2 mb-3">
          <p class="w-full py-2 px-2 text-sm text-center text-white bg-[#074464] border-[#074464] rounded-2xl">
            Pilot: Johnny Appleseed
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('templates/map_footer') %>