<!-- drawer component -->
<div id="confirmationCard" class="transform translate-x-full absolute top-0">
  <div>
    <p id="cardTitle" class="font-bold text-center py-2">Confirmation</p>
    <div class="grid grid-cols-4 gap-2 p-3">
      <!-- Step 1 -->
      <div class="p-1">
        <img src="confirmation_1.png" class="p-2 rounded-full w-[50px] mx-auto border-2 border-darkestShade bg-white" alt="request received" tabindex="0" />
        <div class="mt-2 font-medium text-center text-darkestShade leading-tight">Request Received</div>
      </div>
      <!-- Step 2 -->
      <div class="p-1">
        <img src="confirmation_2.png" class="p-2 rounded-full w-[50px] mx-auto border-2 border-buttonBg bg-yellowishGray" alt="drone deployed" tabindex="0" />
        <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Deployed</div>
      </div>
      <!-- Step 3 -->
      <div class="p-1">
        <img src="confirmation_3.png" class="p-2 rounded-full w-[50px] mx-auto border-2 border-buttonBg bg-yellowishGray" alt="drone arriving" tabindex="0" />
        <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Arriving</div>
      </div>
      <!-- Step 4 -->
      <div class="p-1">
        <img src="confirmation_4.png" class="p-2 rounded-full w-[50px] mx-auto border-2 border-buttonBg bg-yellowishGray" alt="drone landed" tabindex="0" />
        <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Landed</div>
      </div>
    </div>
    <div class="flex container items-center justify-between">
      <p class="flex w-[60%] font-medium p-4 py-2 text-darkestShade text-xl">Your delivery is arriving in:</p>
      <div class="flex w-[40%] items-center m-2 ">
        <p id="estimatedTime" class="py-2 px-4 text-sm font-medium text-center text-white bg-darkestShade rounded-2xl">0 secs</p>
      </div>

    </div>
    <div class="grid grid-cols-2 gap-1">
      <div class="p-1">
        <div>
          <div class="flex items-center m-2">
            <div class="w-full py-2 px-2">
              <div id="mini_map"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-1">
        <div>
          <div class="flex flex-col container m-2">
            <p class="flex mb-2 w-full text-lg font-semibold text-center text-darkestShade">Starting address:</p>
            <p id="startAddress" class="w-full py-2 px-2 text-sm text-center text-white bg-buttonBg border-buttonBg rounded-2xl">From: 123 Road</p>
          </div>
        </div>
        <div>
          <div class="flex flex-col container m-2">
            <p class="flex mb-2 w-full text-lg font-semibold text-center text-darkestShade">Destination address:</p>
            <p id="endAddress" class="w-full py-2 px-2 text-sm text-center text-white bg-buttonBg border-buttonBg rounded-2xl">To: 345 Road</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>