<%- include('templates/map_header') %>

  <div id="map-container">
    <%- include('map') %>
  </div>

  <!-- drawer init and toggle -->
  <div class="text-center">
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      type="button" data-drawer-target="drawer-swipe" data-drawer-show="drawer-swipe" data-drawer-placement="bottom"
      data-drawer-edge="true" data-drawer-edge-offset="bottom-[60px]" aria-controls="drawer-swipe">
      Show swipeable drawer
    </button>
  </div>

  <!-- drawer component -->
  <div id="drawer-swipe"
    class="fixed z-40 w-full overflow-y-auto bg-cardBg border-t border-gray-200 rounded-t-lg dark:border-gray-700 dark:bg-gray-800 transition-transform bottom-0 left-0 right-0 translate-y-full bottom-[60px]"
    tabindex="-1" aria-labelledby="drawer-swipe-label">
    <div class="p-4 cursor-pointer flex flex-col items-center" data-drawer-toggle="drawer-swipe">
      <span class="absolute w-8 h-1 -translate-x-1/2 bg-gray-300 rounded-lg top-3 left-1/2 dark:bg-gray-600">
      </span>
      <p class="font-bold py-2">Confirmation</p>
    </div>

    <div class="grid grid-cols-4 gap-2 p-3">
      <!-- Step 1 -->
      <div class="p-1">
        <img src="Dronify_Favicon.png" class="rounded-full w-[50px] mx-auto border-2 border-b-gray-200"
          alt="drone-share" tabindex="0">
        <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Request Received</div>
      </div>
      <!-- Step 2 -->
      <div class="p-1">
        <img src="images/Dronify_Favicon.png" class="rounded-full w-[50px] mx-auto border-2 border-b-gray-200"
          alt="direct-delivery" tabindex="0">
        <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Deployed</div>
      </div>
      <!-- Step 3 -->
      <div class="p-1">
        <img src="images/Dronify_Favicon.png" class="rounded-full w-[50px] mx-auto border-2 border-b-gray-200"
          alt="roadside-assistance" tabindex="0" onclick="window.location.href='/battery_stations'">
        <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Arriving</div>
      </div>
      <!-- Step 4 -->
      <div class="p-1">
        <img src="images/Dronify_Favicon.png" class="rounded-full w-[50px] mx-auto border-2 border-b-gray-200"
          alt="roadside-assistance" tabindex="0" onclick="window.location.href='/battery_stations'">
        <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone Landed</div>
      </div>
    </div>

    <div>
      <p class="p-4 py-2">Your delivery is arriving in</p>
    </div>

    <div class="grid grid-cols-2 gap-1 p-2">
      <div class="p-2">
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
      </div>
      <div class="p-2">
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <input id="tracking" type="text"
              class="w-11/12 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl"
              placeholder="Tracking: #583027015">
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('templates/footer') %>