<%- include('templates/header') %>
<div class="flex items-center justify-center min-h-screen bg-gray-100 font-Nunito">
  <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
    <h1 class="text-3xl font-bold text-center mb-4">DRONIFY</h1>
    </h1>
    <p class="text-center text-gray-700 mb-6">Please enter the email linked to the account:</p>
    <form action="/checkAccountExists" method="post">
      <label for="email" class="block text-lg font-medium text-gray-700 mb-2">Email</label>
      <input type="email" id="email" name="email" required class="block w-full p-3 border border-gray-300 rounded-lg mb-4 focus:outline-none focus:ring-2 focus:ring-cardBg">
      <input type="hidden" name="type" value="%= type %">
      <input type="submit" value="Submit" class="w-full p-3 bg-buttonBg text-white font-semibold rounded-lg">
      <% if (locals.renderErrorMessage) { %>
      <p class="text-red-500">Error: Please try again. We could not find an account associated with the email <%= locals.userEmail %></p>
      <% } else { %>
      <p></p>
      <% } %>
    </form>
  </div>
</div>
<%- include('templates/footer') %>