<%- include('templates/header') %>

    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 e text-center">Forgot ID %>
            </h1>
            <form action="/resetpassword" method="post">
                <label for="email" class="block text-lg font-medium text-gray-700 dark:text-gray-400 mb-2">Please enter
                    the email linked to the account:</label>
                <input type="email" id="email" name="email" required
                    class="block w-full p-3 border border-gray-300 rounded-lg mb-4 focus:outline-none focus:ring-2 focus:ring-cardBg">
                <input type="hidden" name="type" value="%= type %">
                <input type="submit" value="Submit" class="w-full p-3 bg-buttonBg text-white font-semibold rounded-lg">
            </form>
        </div>
    </div>
    <%- include('templates/footer') %>