<%- include('templates/header') %>
  <style>
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .video-mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(114, 111, 111, 0.3);
      z-index: 1;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      z-index: 20;
      color: #f1f1f1;
    }
  </style>

  <video autoplay muted loop id="myVideo">
    <source src="landing_page_video.mp4" type="video/mp4">
  </video>

  <div class="video-mask"></div>

  <div class="content mt-36 font-Nunito">
    <img src="logo.png" alt="Dronify Logo" style="width: 200px; height: auto;">
    <br>
    <h1 class="text-5xl font-bold">Dronify</h1>
    <br>
    <h3 class="font-normal text-3xl mb-3">We Unify</h3>
    <br>
    <div class="space-x-2">
      <button onclick="window.location.href='/login'"
        class="bg-red-500 text-white py-3 px-6 rounded-lg text-xl hover:bg-red-300">LOG IN</button>
      <button onclick="window.location.href='/signup'"
        class="bg-red-500 text-white py-3 px-6 rounded-lg text-xl hover:bg-red-300">SIGN UP</button>
    </div>
  </div>