<%- include('templates/header') %>

  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-6 rounded-lg shadow-md max-w-sm w-full">
      <h1
        style="text-align: center;z-index: 1; color: black; font-size:xx-large; font-weight:800; font-family: 'Poetsen One', sans-serif; letter-spacing: 2px;">
        Dronify</h1>
      <p class="text-center text-gray-700 mb-6">Welcome! Please Log In</p>
      <form class="flex flex-col justify-center items-center gap-2 mx-auto p-4" action="/login" method="post"
        onsubmit="validateForm(event)">
        <div class="w-full">
          <label for="username" class="block font-medium text-gray-700 mb-2"><span class="text-red-600">*</span>
            Username</label>
          <input type="text" id="username" name="username" required
            class="border p-2 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-cardBg mb-4" />
        </div>
        <div class="w-full">
          <label for="password" class="block font-medium text-gray-700 mb-2"><span class="text-red-600">*</span>
            Password</label>
          <input type="password" id="password" name="password" required
            class="border p-2 w-full rounded-lg focus:outline-none focus:ring-2 focus:ring-cardBg mb-4" />
        </div>
        <div id="error-message" class="text-red-500 mb-4"></div>
        <% if (locals.errorMessage) { %>
          <p class="text-red-500">
            <%= locals.errorMessage %>
          </p>
          <% } else { %>
            <% } %>
              <button type="submit"
                class="border p-2 rounded-md bg-buttonBg text-white font-semibold w-full hover:bg-buttonBgHover ">Log
                in</button>
              <button class="border p-2 rounded-md bg-buttonBg text-white font-semibold w-full hover:bg-buttonBgHover"
                onclick="window.location.href='/forgotpassword'">Reset Password</button>
      </form>
    </div>
  </div>

  <%- include('templates/footer') %>