<%- include('templates/map_header') %>
<style>
  .height-3-5-screen {
    height: 60vh;
  }
</style>

<%- include('templates/map') %>

<div class="w-full border bg-cardBg rounded-t-xl shadow height-3-5-screen  fixed bottom-0 left-1/2 transform -translate-x-1/2">

  <div class="flex flex-col items-center" style="transform: translateY(-80px)">
    <img class="w-40 h-40 mb-3 rounded-full shadow-lg" src="profile.png" alt="Profile image" />
    <div class="flex items-center">
      <h5 class="m-4 text-xl font-medium text-gray-900">Michael</h5>
    </div>

    <div class="flex flex-col items-center space-y-2">
      <div class="flex items-center space-x-2">
        <input id="username" type="text" class="w-3/4 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-300" placeholder="User ID">
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>

      <div class="flex items-center space-x-2">
        <input id="email" type="text" class="w-3/4 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-300" placeholder="Email">
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>

      <div class="flex items-center space-x-2">
        <input id="phonenumber" type="text" class="w-3/4 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-300" placeholder="Phone Number">
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>

      <div class="flex items-center space-x-2">
        <input id="street" type="text" class="w-3/4 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-300" placeholder="Street">
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>

      <div class="flex items-center space-x-2">
        <input id="city" type="text" class="w-3/4 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-300" placeholder="City">
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>

      <div class="flex items-center space-x-2">
        <input id="postal" type="text" class="w-3/4 py-2 px-8 text-sm font-medium text-center text-gray-900 bg-white border-gray-300 rounded-xl focus:outline-none focus:border-blue-500 focus:ring-2 focus:ring-blue-300" placeholder="Postal Code">
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save
        </button>
      </div>

    </div>
  </div>

  <div class="flex justify-center  mt-[-70px]">

    <button onclick="window.location.href='/account'" class="py-2 px-8 mx-4 text-md font-medium text-center text-white bg-red-600 rounded-xl hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300">Cancel</button>
  </div>
</div>
<%- include('templates/map_footer') %>