<h1>forgot id page starts here</h1>

<!-- 
Note: Just make this page so that it has inputs for fields and has a submit button, and I will write backend operations afterwards - Michael

    Forgot ID proceedure:
1. "Please enter the email linked to the account"
2. If email given by user is found in backend, redirect to the reset password page
3. Once sucessfully reset password, redirect to login
   -->