<%- include('templates/map_header.ejs') %>
  <!-- the map -->
  <div id='map'></div>
  <!-- the geocoder search bar -->
  <div class="geocoder" id="geocoder"></div>

    <script>
      const mapbox_access_token = '<%= process.env.MAPBOX_ACCESS_TOKEN %>';
      mapboxgl.accessToken = mapbox_access_token;

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/dark-v11',
        center: [-123.112755, 49.241722],
        zoom: 10.7,
        pitch: 44
      });

      var startGeocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
      });

      var endGeocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
      });

      map.addControl(startGeocoder);
      map.addControl(endGeocoder);

      var startLocation, endLocation;

      startGeocoder.on('result', function (e) {
        startLocation = e.result.geometry.coordinates;
        drawRoute();
      });

      endGeocoder.on('result', function (e) {
        endLocation = e.result.geometry.coordinates;
        drawRoute();
      });

      function drawRoute() {
        if (startLocation && endLocation) {
          var geojson = {
            'type': 'Feature',
            'properties': {},
            'geometry': {
              'type': 'LineString',
              'coordinates': [startLocation, endLocation]
            }
          };

          if (map.getSource('route')) {
            map.getSource('route').setData(geojson);
          } else {
            map.addLayer({
              'id': 'route',
              'type': 'line',
              'source': {
                'type': 'geojson',
                'data': geojson
              },
              'layout': {
                'line-join': 'round',
                'line-cap': 'round'
              },
              'paint': {
                'line-color': '#31B6C0',
                'line-width': 4
              }
            });
          }
        }
      }
    </script>
    <%- include('templates/footer') %>