<!-- drawer component -->
<div id="paymentMethods" class="hidden">
  <p class="font-bold text-center py-2">Select Payment</p>

  <div class="grid grid-cols-1 gap-4 p-4">
    <div id="credit" class="payment-select p-4 rounded-lg cursor-pointer bg-buttonBg">
      <div class="flex justify-center items-center p-2 mx-auto mb-2  rounded-full w-[48px] h-[48px] max-w-[48px] max-h-[48px]">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-credit-card" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
          <path d="M3 10l18 0" />
          <path d="M7 15l.01 0" />
          <path d="M11 15l2 0" />
        </svg>
      </div>
      <div class="font-medium text-center text-gray-200">Credit ****1234</div>
    </div>
    <div id="debit" class="payment-select p-4 rounded-lg cursor-pointer bg-buttonBg">
      <div class="flex justify-center items-center p-2 mx-auto mb-2 dark:bg-gray-600 rounded-full w-[48px] h-[48px] max-w-[48px] max-h-[48px]">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-credit-card" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
          <path d="M3 10l18 0" />
          <path d="M7 15l.01 0" />
          <path d="M11 15l2 0" />
        </svg>
      </div>
      <div class="font-medium text-center text-gray-200">Debit ****2345</div>
    </div>
  </div>
  <div class="flex justify-center mb-4">
    <div class="flex space-x-2 w-64">
      <button class="bg-white text-black py-2 px-4 rounded-lg text-lg flex-1 h-12">Cancel</button>
      <button id="paymentMethodNextBtn" class="bg-black text-white py-2 px-4 rounded-lg text-lg flex-1 h-12">Next</button>
    </div>
  </div>
</div>