<!-- drawer component -->
<div id="paymentMethods" class="hidden">
  <p class="font-bold text-center py-2">Select Payment</p>

  <div id="availableCards" class="grid grid-cols-1 gap-4 p-4">
  </div>
  <div class="flex justify-center mb-4">
    <div class="flex space-x-2 w-64">
      <button class="bg-white text-black py-2 px-4 rounded-lg text-lg flex-1 h-12" onclick="selectPaymentCancel()">Cancel</button>
      <button id="paymentMethodNextBtn" class="bg-black text-white py-2 px-4 rounded-lg text-lg flex-1 h-12">Next</button>
    </div>
  </div>
</div>