<!-- Start drawer component -->
<div id="main-menu-drawer" class="fixed z-50 w-full overflow-y-auto bg-cardBg border-t border-gray-200 rounded-t-xl shadow-xl transition-transform bottom-0 left-0 right-0 translate-y-full bottom-[60px]" tabindex="-1" aria-labelledby="main-menu-drawer-label">
  <!-- swipe/click button for the menu -->
  <!-- data-drawer-edge-offset="bottom-[0px]" -->
  <div class="p-7 hover:bg-cardBgHover" data-drawer-toggle="main-menu-drawer" data-drawer-target="main-menu-drawer" data-drawer-placement="bottom" data-drawer-edge="true" aria-controls="main-menu-drawer" data-drawer-backdrop="false">
    <span class="absolute w-36 h-1 -translate-x-1/2 bg-white rounded-lg top-2 left-1/2"></span>
  </div>

  <!-- menu card body -->
  <div id="mainMenuCard" class="grid grid-cols-3 gap-4 p-4">
    <!-- Drone-share option -->
    <div id="droneShareBtn" class="p-1 rounded-lg hover:bg-cardBgHover hidden">
      <img src="images/core_feature_icon1.svg" class="rounded-lg w-[50px] mx-auto focus:ring-2 focus:ring-white" alt="drone-share" tabindex="0" />
      <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Drone-share</div>
    </div>

    <!-- Direct delivery option -->
    <div id="directDeliveryBtn" class="p-1 rounded-lg hover:bg-cardBgHover hidden">
      <img src="images/core_feature_icon3.svg" class="rounded-lg w-[50px] mx-auto focus:ring-2 focus:ring-white" alt="direct-delivery" tabindex="0" />
      <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Direct Delivery</div>
    </div>

    <!-- Roadside assistance option -->
    <div id="roadsideAssistanceBtn" class="p-1 rounded-lg hover:bg-cardBgHover hidden">
      <img src="images/core_feature_icon2.svg" class="rounded-lg w-[50px] mx-auto focus:ring-2 focus:ring-white" alt="roadside-assistance" tabindex="0" />
      <div class="mt-2 font-medium text-center text-buttonBg leading-tight">Roadside Assistance</div>
    </div>

    <div id="account-container" class="flex flex-col absolute z-50 hidden">
      <div class="flex">
        <input id="username" type="text" placeholder="Name" />
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>
      <div class="flex">
        <input id="name" type="text" placeholder="Name" />
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>
      <div class="flex">
        <input id="email" type="text" placeholder="Email" />
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>
      <div class="flex">
        <input id="address" type="text" placeholder="Address" />
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>
      <div class="flex">
        <input id="phonenumber" type="text" placeholder="Phone Number" />
        <button id="saveBtn" class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200" type="submit">Save</button>
      </div>
      <form action="/logout" method="POST">
        <button class="border p-2 rounded-md hover:bg-blue-500 hover:text-slate-200">log out</button>
      </form>
    </div>
  </div>
</div>

<!-- End of drawer component -->