<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="./output.css" type="text/css" rel="stylesheet" />
  <title>Dronify</title>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/images/Dronify_Favicon.png">
  <!-- Tailwind and Flowbite -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <script>
    tailwind.config = {
      theme: {
        colors: {
          transparent: 'transparent',
          current: 'currentColor',
          'white': '#ffffff',
          'black': '#000000',
          'cardBg': '#31B6C0',
          'cardBgHover': '#2A9AA2',
          'buttonBg': '#074464',
        },
      },
    }
  </script>
</head>

<body>