<%- include('map_header') %>
<div id="mini_map"></div>

<script>
  const mapbox_access_token = '<%= process.env.MAPBOX_ACCESS_TOKEN %>';
  mapboxgl.accessToken = mapbox_access_token;

  var map = new mapboxgl.Map({
    container: "mini_map",
    style: "mapbox://styles/mapbox/streets-v11",
    center: [-123.112755, 49.241722], // Central Vancouver
    zoom: 8.7,
  });
</script>
<%- include('map_footer') %>
